/* -----------------desktops >1200-----------------*/

@media (max-width: 1200px) {

  /* calculater start  */

  .calculater__content {
    margin: 0 auto;
  }

  /* calculater end  */

  /* projects start  */

  .projects__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .question__specification__wrapper2 {
    display: none;
  }

  /* projects end  */

  /* control start  */

  .control {
    background-color: #131313;
    margin: 0 auto;
  }

  .control h3 {
    padding-top: 58px;
    font-size: 22px;
    line-height: 138.6%;
  }

  .control__text {
    color: #fff;
  }

  .input {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  ::-webkit-input-placeholder {
    color: #fff;
  }

  .label {
    color: rgba(255, 255, 255, 0.5);
  }

  .checkbox_text {
    color: #fff;
  }

  /* control end  */

  /* repair start  */

  .repair__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* repair end  */

  /* measurer start  */

  .measurer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .label__save {
    margin: auto;
    margin-top: 20px;
    padding-left: 30%;
  }

  /* measurer end  */

  /* fantasies start  */

  .fantasies {
    display: none;
  }

  /* fantasies end  */

  /* clients start  */

  .clients {
    margin-top: 50px;
  }

  .clients__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .clients h3 {
    font-size: 22px;
    line-height: 138.6%;
  }

  .clients__content {
    margin-bottom: 50px;
  }

  /* clients end  */



}

@media (max-width: 1050px) {

  /* heder start */

  .nav__item:not(:last-child) {
    margin-right: 35px;
  }

  /* heder end */

  /* control start  */

  .control__img {
    max-width: 340px;
    height: 207px;
  }

  .play {
    width: 37px;
    height: 37px;
    margin-left: 151px;
    margin-top: 85px;
  }

  .play__arow {
    width: 12px;
    margin-top: 13px;
    margin-left: 13px;
  }

  /* control end  */

}

/* -----------------laptops >992------------------ */

@media (max-width: 990px) {

  /* heder start */

  .header-height {
    height: 57px;
  }

  .nav__item:not(:last-child) {
    margin-right: 20px;
  }

  .nav__phone {
    margin-right: 5px;
  }

  .btn__nav {
    width: 120px;
  }

  /* heder end */

  /* question__form start */

  .map__form__wrapper {
    width: 375px;
  }

  .map__form {
    width: 375px;
    height: 555px;
  }

  .form__name_phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 52px;
  }

  .form__name {
    margin: 0 auto;
  }

  .form__phone {
    margin: 0 auto;
    margin-top: 62px;
  }

  .question__input {
    width: 339px;
  }

  .form__question .question__input {
    width: 339px;
  }

  .question__btn {
    width: 340px;
    margin-top: 67px;
    margin-bottom: 0;
  }

  .map__navigator__wrapper {
    width: 375px;
    background-color: #131313;
    flex-direction: column-reverse;

  }

  .map__adress__wrapper {
    margin-bottom: 20px;
  }

  .map__title {
    width: 345px;
  }

  .map__navigator {
    width: 340px;
    margin-top: 50px;
  }

  /* question__form end */

  /* footer start   */

  .footer-height {
    height: 57px;
  }

  /* footer end  */
}

@media (max-width: 880px) {

  /* heder start */

  .nav__item:not(:last-child) {
    margin-right: 5px;
  }

  /* heder end */

}

/* ------------------smartphones >768------------------*/

@media (max-width: 768px) {

  /* heder start */

  .header-height {
    height: 57px;
  }

  .nav {
    display: none;
  }

  .nav__phone {
    color: #fff;
    text-decoration: none;
  }

  .btn__nav {
    display: none;
  }

  /* heder end */

  /* calculater start  */

  .calculater {
    height: 476px;
  }

  .calculater__content {
    max-width: 339px;
    margin: 0 auto;
    padding-top: 85px;
  }

  h1 {
    font-size: 23px;
    line-height: 132.83%;
  }

  .calculater__text {
    font-size: 14px;
    line-height: 135.84%;
  }

  .calculater__block__btn {
    height: 128px;
    flex-direction: column;
  }

  .btn__calculator {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .btn__calculator-submit {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .btn__calculator-submit span {
    display: none;
  }

  /* calculater end  */

  /* projects start  */

  .projects__wrapper {
    margin: 0 auto;
  }

  .projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .projects__title {
    padding-top: 36px;
  }

  .projects__title h2 {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
  }

  .projects__content p {
    width: 311px;
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 45px;
  }

  .projects__specification {
    grid-template-columns: 170px 170px;
    grid-template-rows: 68px 68px;
    grid-row-gap: 27px;
  }

  .projects__specification__for-medium {
    display: initial;
  }

  .projects__specification {
    margin-top: 36px;
  }

  .projects__specification__item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 138.6%;
  }

  .projects__specification__item p {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    text-align: left;
    margin-top: 11px;
  }

  .projects__specifications__indicator {
    display: none;
  }

  .projects__nav {
    display: none;
  }

  /* projects end  */

  /* control start  */

  .control__hr {
    margin-top: 28px;
  }

  .control__text {
    max-width: 340px;
    font-size: 11px;
    line-height: 169.8%;
    margin-top: 21px;
  }

  .cotrol__form {
    margin-top: 0;
    width: 340px;
    display: flex;
  }

  .cotrol__form div:nth-child(3) {
    order: 4;
  }

  .form__item {
    margin-top: 62px;
  }

  .control__chekbox {
    margin-top: 28px;
  }

  .control__form-btn {
    margin-bottom: -25px;
  }

  /* control end  */

  /* repair start  */

  .repair h3 {
    margin-top: 58px;
    font-size: 22px;
    line-height: 138.6%;
  }

  .repair__label {
    margin-top: 17px;
  }

  .repair__wrapper {
    margin-top: 31px;
  }

  .repair__title {
    display: initial;
  }

  /* repair end */

  /* measurer start  */

  .measurer {
    display: none;
  }

  /* measurer end  */

  /* clients start  */

  .clients {
    display: none;
  }

  /* clients end  */

  /* question__form start */

  .map {
    display: none;
  }

  .question__form {
    margin-top: 0;
  }

  .question__specification__for-medium {
    display: initial;
  }

  /* question__form end */

  /* footer start   */

  footer {
    display: none;
  }

  /* footer end  */

}